<section class="list-files-section">
  <section class="show-diagram-close mb-2">
    <section class="left">
      <span (click)="delete_image()" class="mr-1"><i class="fas fa-trash"></i></span>
      <p class="fw-bold">[ {{ _type.toUpperCase() }} ]</p>
    </section>
    <section class="right">
        <i class="fa-solid fa-xmark" (click)="close()"></i>
    </section>
  </section>
  <section class="mb-2">
    <img class="w-100" [src]="imageUrl" alt="diagram image" />
    <!-- string interpolation -->
  </section>
</section>
