.show-diagram-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px black solid;
}
.show-diagram-close > .left {
  display: flex;
}
.show-diagram-close > .left > span {
  margin-right: 0.25em;
}
.show-diagram-close > .left > span > i:hover,
.show-diagram-close > .right > i:hover {
  color: red;
  cursor: pointer;
}
