<section class="list-files-section">
  <section class="show-diagram-close mb-2">
    <section class="left">
      <p class="fw-bold">[ {{ _type.toUpperCase() }} ]</p>
    </section>
    <section class="right">
      <span (click)="delete_image()" class="btn btn-outline-dark mr-1"
        ><i class="fas fa-trash"></i
      ></span>
      <span (click)="close()" class="btn btn-outline-dark"
        ><i class="fa-solid fa-xmark"></i
      ></span>
    </section>
  </section>
  <section class="mb-2">
    <img class="w-100" [src]="imageUrl" alt="diagram image" />
    <!-- string interpolation -->
  </section>
</section>
