<section class="phase-form">
  <section class="content">
    <section class="left">
      <h1>Design Phase</h1>
    </section>
    <section class="right">
      <section class="title">
        <h4><i class="fa-solid fa-diagram-project"></i> Diagrams</h4>
        <h6>UML Diagrams, Database Design, & User Interface Design</h6>
      </section>
      <section class="form">
        <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()">
          <section formArrayName="files" class="mb-3">
            <section
              class="mb-1"
              *ngFor="let fileGroup of filesFormArray.controls; let i = index"
            >
              <section
                [formGroupName]="i"
                class="mb-2 upload-file-container mb-2"
              >
                <small class="error-message">{{
                  getError("fileImage", i)
                }}</small>
                <small class="error-message">{{
                  getError("fileName", i)
                }}</small>
                <section>
                  <input
                    type="text"
                    id="fileName"
                    placeholder="File Name"
                    formControlName="fileName"
                    class="form-control"
                    required
                  />
                  <input
                    type="file"
                    id="fileImage"
                    formControlName="fileImage"
                    class="form-control"
                    (change)="onFileChange($event)"
                    required
                  />
                  <button
                    class="btn btn-outline-dark"
                    (click)="removeFile(i)"
                  >
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </section>
              </section>
            </section>
          </section>

          <section class="form-submit">
            <button type="submit" class="btn btn-dark">Submit</button>
            <button type="button" class="btn btn-dark" (click)="resetForm()">
              <i class="fa-solid fa-rotate-left"></i> Reset
            </button>
            <button
              type="button"
              class="btn btn-outline-dark"
              (click)="createFileGroup()"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </section>
        </form>
      </section>
    </section>
  </section>
</section>
