nav {
  background-color: #c4c4c47d !important;
}
nav .active-link {
  color: #1634a6;
  font-weight: bold;
}
main {
  min-height: 80vh;
}
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white !important;
  background-color: #64442c !important;
}
