<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <section class="container-fluid">
    <a class="navbar-brand nav-icon"><i class="fa-brands fa-unity"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/', 'home']"
            routerLinkActive="active-link"
            ><i class="fa-solid fa-book"></i> Documentation System</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/', 'sdlc']"
            routerLinkActive="active-link"
            ><i class="fa-solid fa-arrows-spin"></i> SDLC</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/', 'all-files']"
            routerLinkActive="active-link"
            ><i class="fa-solid fa-diagram-project"></i> All Files</a
          >
        </li>
      </ul>
    </section>
  </section>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="site-footer">
  <section class="container">
    <section class="row">
      <section class="col-lg-3">
        <h2 class="footer-heading mb-4">About Us</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts.
        </p>
        <ul class="list-unstyled social">
          <li>
            <a><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a><i class="fa-brands fa-linkedin"></i></a>
          </li>
        </ul>
      </section>
      <section class="col-lg-8 ml-auto">
        <section class="row">
          <section class="col-lg-3">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a>About Us</a></li>
              <li><a>Testimonials</a></li>
              <li><a>Terms of Service</a></li>
              <li><a>Privacy</a></li>
              <li><a>Contact Us</a></li>
            </ul>
          </section>
          <section class="col-lg-3">
            <h2 class="footer-heading mb-4">Resources</h2>
            <ul class="list-unstyled">
              <li><a>About Us</a></li>
              <li><a>Testimonials</a></li>
              <li><a>Terms of Service</a></li>
              <li><a>Privacy</a></li>
              <li><a>Contact Us</a></li>
            </ul>
          </section>
          <section class="col-lg-3">
            <h2 class="footer-heading mb-4">Support</h2>
            <ul class="list-unstyled">
              <li><a>About Us</a></li>
              <li><a>Testimonials</a></li>
              <li><a>Terms of Service</a></li>
              <li><a>Privacy</a></li>
              <li><a>Contact Us</a></li>
            </ul>
          </section>
          <section class="col-lg-3">
            <h2 class="footer-heading mb-4">Company</h2>
            <ul class="list-unstyled">
              <li><a>About Us</a></li>
              <li><a>Testimonials</a></li>
              <li><a>Terms of Service</a></li>
              <li><a>Privacy</a></li>
              <li><a>Contact Us</a></li>
            </ul>
          </section>
        </section>
      </section>
    </section>
    <section class="row mt-5 text-center">
      <section class="col-md-12">
        <section class="border-top">
          <p>
            <i class="fa-brands fa-unity"></i> FCIH. All rights reserved &copy;
            2023.
          </p>
          <p>Contact us: fcih&#64;fci.helwan.edu.eg</p>
        </section>
      </section>
    </section>
  </section>
</footer>
