<section class="card-deck">
  <section class="mb-2 deck-nav">
    <section class="btn" (click)="getAllFiles()" title="refresh">
      <i class="fas fa-sync-alt"></i>
    </section>
    <section class="list-files-header">Diagrams & UI entered in SDLC</section>
    <section class="btn" title="sort" (click)="reverseArray()">
      <i class="fas fa-sort"></i>
    </section>
  </section>

  <section
    class="card mb-1"
    *ngFor="let file of files"
    (click)="selectedCard(file.id, file.type)"
  >
    <section *ngIf="isEqual(file.type, 'design-phase')" class="card-body">
      <h5 class="card-title">{{ file.filename }}</h5>
      <small><span class="fw-bold disabled">Type</span> {{ file.type }}</small>
    </section>
    <section *ngIf="isEqual(file.type, 'analysis-phase')" class="card-body">
      <h5 class="card-title">{{ file.sys_fr }}</h5>
      <small><span class="fw-bold disabled">Type</span> {{ file.type }}</small>
    </section>
  </section>

  <section class="card mb-1" *ngIf="files.length == 0">
    <section class="card-body">
      <h5 class="card-title">No Saved files</h5>
    </section>
  </section>
</section>
