<section class="phase-form">
  <section class="content">
    <section class="left">
      <h1>Analysis Phase</h1>
    </section>
    <section class="right">
      <section class="title">
        <h4>Software Requirements Specification (S.R.S.)</h4>
      </section>
      <section class="form">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
          <section class="mb-2">
            <section class="error-message">
              {{ getError("introduction") }}
            </section>
            <section class="form-group mb-2 form-row">
              <label for="introduction">Introduction</label>
              <input
                type="text"
                id="introduction"
                placeholder="Intro"
                formControlName="introduction"
                class="form-control"
                required
              />
            </section>
          </section>
          <section class="mb-2">
            <section class="error-message">
              {{ getError("purpose") }}
            </section>
            <section class="form-group mb-2 form-row">
              <label for="purpose">Purpose Of software being developed</label>
              <input
                type="text"
                id="purpose"
                placeholder="Purpose Of software being developed"
                formControlName="purpose"
                class="form-control"
                required
              />
            </section>
          </section>
          <section class="mb-2">
            <section class="error-message">
              {{ getError("audience") }}
            </section>
            <section class="form-group mb-2 form-row">
              <label for="audience">Intended Audience</label>
              <input
                type="text"
                id="audience"
                placeholder="Intended audience"
                formControlName="audience"
                class="form-control"
                required
              />
            </section>
          </section>
          <section class="mb-2">
            <section class="error-message">
              {{ getError("sw_description") }}
            </section>
            <section class="form-group mb-2 form-row">
              <label for="sw_description"
                >Overall description of the software</label
              >
              <input
                type="text"
                id="sw_description"
                placeholder="Overall description"
                formControlName="sw_description"
                class="form-control"
                required
              />
            </section>
          </section>
          <section class="form-group mb-2">
            <section class="error-message">
              {{ getError("sys_fr") }}
            </section>
            <label for="sys_fr">System Features and Requirements</label>
            <ol>
              <li>Functional Requirements</li>
              <li>Non-functional Requirements</li>
              <li>External Requirements</li>
            </ol>
            <textarea
              id="sys_fr"
              rows="4"
              cols="50"
              placeholder="System Features"
              formControlName="sys_fr"
              class="form-control"
              required
            ></textarea>
          </section>
          <section class="mb-2">
            <section class="error-message">
              {{ getError("image") }}
            </section>
            <section class="form-group mb-2 form-row">
              <label for="image">Use Case</label>
              <input
                type="file"
                id="image"
                class="form-control"
                formControlName="image"
                (change)="onFileChange($event)"
                required
              />
            </section>
          </section>
          <section class="form-submit">
            <button type="submit" class="btn btn-primary">Save</button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="resetForm()"
            >
              Reset
            </button>
          </section>
        </form>
      </section>
    </section>
  </section>
</section>
