<section>
  <section class="site-section-cover overlay">
    <section class="container">
      <section class="row align-items-center justify-content-center">
        <section class="col-lg-10 text-center">
          <h1>
            The <strong>Ultimate</strong> Documentation <strong>System</strong>
          </h1>
        </section>
      </section>
    </section>
  </section>

  <section class="site-section bg-light">
    <section class="container">
      <section class="row">
        <section class="col-12">
          <section class="heading mb-4">
            <span class="caption">Available</span>
            <h2>Phases</h2>
          </section>
        </section>
        <section class="col-lg-8">
          <section class="d-flex tutorial-item mb-4">
            <section class="img-wrap">
              <a
                ><img
                  src="../../../assets/images/img_1.jpg"
                  alt="Image"
                  class="img-fluid"
              /></a>
            </section>
            <section>
              <h3><a>Initiation Phase</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
                tempore, saepe numquam. Doloremque culpa tenetur facere
                quisquam, animi illum possimus!
              </p>

              <p class="mb-0">
                <span class="brand-react h5"></span>
                <span class="brand-javascript h5"></span>
              </p>

              <p>
                <a
                  [routerLink]="['/', 'sdlc', 'init-phase']"
                  class="btn btn-outline-primary custom-btn"
                  >View</a
                >
              </p>
            </section>
          </section>

          <section class="d-flex tutorial-item mb-4">
            <section class="img-wrap">
              <a
                ><img
                  src="../../../assets/images/img_2.jpg"
                  alt="Image"
                  class="img-fluid"
              /></a>
            </section>
            <section>
              <h3><a>Requirements Phase (Analysis Phase)</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
                tempore, saepe numquam. Doloremque culpa tenetur facere
                quisquam, animi illum possimus!
              </p>

              <p class="mb-0">
                <span class="brand-angular h5"></span>
                <span class="brand-javascript h5"></span>
              </p>

              <p>
                <a
                  [routerLink]="['/', 'sdlc', 'analysis-phase']"
                  class="btn btn-outline-primary custom-btn"
                  >View</a
                >
              </p>
            </section>
          </section>

          <section class="d-flex tutorial-item mb-4">
            <section class="img-wrap">
              <a
                ><img
                  src="../../../assets/images/img_4.jpg"
                  alt="Image"
                  class="img-fluid"
              /></a>
            </section>
            <section>
              <h3><a>Design Phase</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
                tempore, saepe numquam. Doloremque culpa tenetur facere
                quisquam, animi illum possimus!
              </p>
              <p class="mb-0">
                <span class="brand-adobeillustrator h5"></span>
              </p>
              <p>
                <a
                  [routerLink]="['/', 'sdlc', 'design-phase']"
                  class="btn btn-outline-primary custom-btn"
                  >View</a
                >
              </p>
            </section>
          </section>
        </section>

        <section class="col-lg-4">
          <section class="box-side mb-3">
            <a
              ><img
                src="../../../assets/images/img_1_horizontal.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
            <h3><a>Initiation Phase</a></h3>
          </section>
          <section class="box-side mb-3">
            <a
              ><img
                src="../../../assets/images/img_2_horizontal.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
            <h3><a>Requirements Phase (Analysis Phase)</a></h3>
          </section>
          <section class="box-side">
            <a
              ><img
                src="../../../assets/images/img_4_horizontal.jpg"
                alt="Image"
                class="img-fluid"
            /></a>
            <h3><a>Design Phase</a></h3>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
