<section>
  <section class="wallpaper-section">
    <img src="{{ home_wallpaper }}" alt="home_wallpaper" />
  </section>
  <section class="wallpaper-section">
    <img src="{{ profile_wallpaper }}" alt="profile_wallpaper" />
  </section>
  <section class="wallpaper-section">
    <img src="{{ services_wallpaper }}" alt="services_wallpaper" />
  </section>
  <section class="wallpaper-section">
    <img src="{{ quote_wallpaper }}" alt="quote_wallpaper" />
  </section>
  <section class="wallpaper-section">
    <img src="{{ contact_wallpaper }}" alt="contact_wallpaper" />
  </section>
</section>
